.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    -73deg,
    #000008 0%,
    #131664 41%,
    #141885 78%,
    #2a33aa 100%
  );
  color: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.login-card {
    display: flex;
    width: 50rem;
    background: #393a41;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
}

.login-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.login-title {
    font-size: 1.55rem;
    font-weight: bold;
    margin: 0 0 0.5rem 0;
}

.login-subtitle {
    font-size: 1.1rem;
    opacity: 0.9;
    margin-bottom: 2rem;
}

.login-title,
.login-subtitle {
    text-align: center;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group-login label {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    display: block;
}

.input-group-login input {
    width: 94%;
    padding: 0.9rem;
    border: none;
    border-radius: 0.5rem;
    background: #2e2e34;
    color: white;
    font-size: 1rem;
}

.input-group-login input::placeholder {
    color: #c5c5c5;
}

.login-btn {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background: #5865f2;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: #4752c4;
}

.login-right {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.qr-image {
    width: 16.25rem;
    height: auto;
}




@media (max-width: 900px) {

    .login-card {
        width: 90%;
        padding: 1.5rem;
    }

    .login-left {
        width: 60%;
        padding: 1.5rem;
    }

    .login-right {
        width: 40%;
    }

    .qr-image {
        width: 12rem;
    }

    .login-title {
        font-size: 1.4rem;
    }
}

/* celular (MAX 600px) */
@media (max-width: 600px) {

    .login-card {
        flex-direction: column;
        width: 95%;
        padding: 1.2rem;
        align-items: center;
    }

    .login-left {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .login-form {
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-group-login {
        width: 100%;
    }

    .input-group-login input {
        width: 86% !important;
    }

    .login-btn {
        width: 100%;
    }
}


/* (MAX 380px) */
@media (max-width: 380px) {

    .login-title {
        font-size: 1.35rem;
    }

    .qr-image {
        width: 9.5rem;
    }
}